@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: plain-light;
  src: url(./fonts/plain-light-webfont.woff);
}
@font-face {
  font-family: plain-regular;
  src: url(./fonts/plain-light-webfont.woff);
}
@font-face {
  font-family: silkserif-light;
  src: url(./fonts/plain-light-webfont.woff);
}
@font-face {
  font-family: silkserif-regular;
  src: url(./fonts/plain-light-webfont.woff);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  overflow:hidden;
  min-height: 100vh;
  width: 100%;
}

body::-webkit-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  display: none;
}

div#loader {
  font-weight: 600;
  font-family: Plain, Helvetica Neue, Arial, Noto Sans, sans-serif;
  /* line-height: 1; */
  line-height: 1.1;
}

.line {
  overflow: hidden;
}

.line h1 {
  padding: 0 8px;
}

.line-container {
  overflow: hidden;
}

#line1 > h1.counter {
  font-family: "Silk Serif", Plain;
  font-weight: 400;
  font-style: italic;
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: -2px;
  width: 250px;
  margin: 0 50px 0 0;
  text-wrap: nowrap;
  text-align: right;
}

#line3 h1:last-child {
  width: 300px;
  animation: blink 1.5s linear infinite;
}

#line__3 h1:hover {
  cursor: pointer;
  transition: all 0.25s;
  -webkit-text-stroke: 1px white;
  color: transparent;
  text-decoration: none;
}

nav {
  display: grid;
  transition: 0.5s all;
  font-family: Plain, Helvetica Neue, Arial, Noto Sans, sans-serif;
  grid-template-columns: 25% auto;
}

.order {
  font-family: "Silk Serif", Plain;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 100;
  letter-spacing: -4px;
}

div.showcase {
  display: grid;
  margin: 5rem;
  align-items: start;
  /* align-content: start;
  justify-self: start;
  align-self: start;
  justify-content: start;
  justify-items: start; */
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  grid-template-columns: auto 35% 35%;
  grid-template-rows: 30% 30% 40%;
  /* padding-bottom: 200px; */
}

div.project-card:nth-child(5) {
  translate: 0 200px;
}
div.project-card:nth-child(9) {
  align-self: flex-end;
}

button.arrow-container:nth-child(4) {
  /* background-color: red; */
  align-self: start;
  justify-self: start;
}

button.arrow-container:nth-child(4) svg {
  rotate: -45deg;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
    color: transparent;
  }

  50% {
    opacity: 1;
    font-family: "Silk Serif", Plain;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-weight: 0;
  }

  75% {
    color: transparent;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
